h1 {
  background-image: url(https://cdn.civitatis.com/belice/ciudad-de-belice/ciudad-de-belice.jpg);
  font-family: algerian;
  color: tomato;
  font-size: 600%;
  font-kerning: normal;
  text-align: center;
  height: 120px;
  margin: 0;
}

body {
  font-family: Arial;
  color: black;
  font-size: 100%;
  background-color: #c2f0f0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: gray;
  text-align: center;
  font-family: Times new roman;
  font-size: 25px;
  font-weight: bold;
  padding: 18px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}

div.gallery img {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
}

div.gallery:hover {
  border: 1px solid #777;
}

@media print {
  footer {
    page-break-after: always;
  }
}

p {
  font-family: acme;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 1000px;
  margin-left: 200px;
}


.dropbtn {
  margin-left: 150px;
  font-family: Impact;
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px red;
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  background-color: #c2f0f0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ccccff
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #99e6ff;
}